// base font family
$font-family-base: Roboto, "Helvetica Neue", sans-serif;
$reset-rem-size: 16px;
$font-size-base: 0.7rem;

// color
$white: #fff;
$black: #000;
$main-bg: #f9faff;

$primary-color-1: #0f0fd1;
$primary-color-2: #10ce9c;

$secondary-color-1: #05057c;
$secondary-color-2: #040496;
$secondary-color-3: #f85439;
$secondary-color-4: #824aed;
$secondary-color-5: #3aafe4;

$grey-main: #1d252c;
$grey-2: #323e48;

// btn style
$btn-bg-primary: #0ab375;
$btn-bg-secondary: #e63956;
$btn-border: #c9d0da;

// border radius
$border-radius-main: 4px;
$border-radius-medium: 8px;
$border-radius-big: 15px;
