<div id="blog" class="section section--grey">
	<div class="container">
		<h2 class="section__title menu">
			<a >
				{{'Blog.Blog' | translate}}
			</a>
		</h2>
		<div class="post__content">
			<!-- wp:columns {"columns":3} -->
			<div class="wp-block-columns has-3-columns" style="margin-top: 15px; width: 100%;" >
				<div class="wp-block-column">
					<figure class="wp-block-image">
						<img src="assets/Images/Blog/Zero3.jpg" alt="ifund" class="product_Img wp-image-311932" />
					</figure>
					<h3 class="heading_text">
						{{'Blog.ZeroPercent' | translate}}
					</h3>
					<p>
						{{'Blog.ZeroPercent_P' | translate}}
					</p>
				</div>
				<div class="wp-block-column">
					<figure class="wp-block-image">
						<img src="assets/Images/Blog/Dealers.jpg" alt="ifund" class="product_Img wp-image-311932" />
					</figure>
					<h3 class="heading_text">
						{{'Blog.AllDealer' | translate}}
					</h3>
					<p>
						{{'Blog.AllDealer_P' | translate}}
					</p>
				</div>
				<div class="wp-block-column">
					<figure class="wp-block-image">
						<img  src="assets/Images/Blog/Personal3.jpg" alt="ifund" class="product_Img wp-image-311932" />
					</figure>
					<h3 class="heading_text">
						{{'Blog.PersonalFinancing' | translate}}
					</h3>
					<p>
						{{'Blog.PersonalFinancing_P_Part1' | translate}}
						<br><span style="font-weight: bold;">{{'Blog.PersonalFinancing_P_Part1_Span' | translate}}</span><br>
						{{'Blog.PersonalFinancing_P_Part2' | translate}}
						<br>
						<span style="font-weight: bold;">{{'Blog.PersonalFinancing_P_Part2_Span' | translate}}</span><br>
						{{'Blog.PersonalFinancing_P_Part3' | translate}}
					</p>
				</div>
				<div class="wp-block-column">
					<figure class="wp-block-image">
						<img src="assets/Images/Blog/CustomerCareline2.jpg" alt="ifund" class="product_Img wp-image-311932" />
					</figure>
					<h3 class="heading_text">
						{{'Blog.CustomerCareline' | translate}}
						
					</h3>
					<p>
						{{'Blog.CustomerCareline_P' | translate}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>