<div style="margin: 5% 30%;border-style: solid;border-color: coral;">
    <div class="card" style="margin-bottom: 30px; margin: 20px 20px 0px 20px;">
        <div class="card-header" style="text-align: center;">
            <h3>Reset Password</h3>
        </div>
    </div>
      <form [formGroup]="ForgetPasswordForm" style="margin: 20px 20px 0px 20px;">
        <!-- <input matInput formControlName="UserId" name="UserId" hidden/> -->
        <div class="content-top-row content-top-row-order-processing">
            <mat-form-field 
                appearence='fill'
                class="top-row-first-filed-item top-row-first-filed-item-order-processing"
                style="width: 100%; margin-left: -2px;">
                <mat-label>Varification Code</mat-label>
                <input type="number" autofocus  matInput formControlName="VarificationCode" name="VarificationCode" placeholder="Varification Code">
                <mat-error style="padding: 0px 0px 5px 10px;">Is Required</mat-error>
            </mat-form-field>
        </div>
        <div class="content-top-row content-top-row-order-processing">
            <mat-form-field 
                appearence='fill'
                class="top-row-first-filed-item top-row-first-filed-item-order-processing"
                style="width: 50%; margin-left: -5px;">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="Password" name="Password" placeholder="Password">
                <mat-error style="padding: 0px 0px 5px 10px;">
                    * password have Min 8 characters,<br>
                    at least 1 upper case,<br>
                    1 lower case,<br>
                    1 symbol,<br>
                    1 number</mat-error>
            </mat-form-field>
            <mat-form-field 
                appearence='fill'
                class="top-row-first-filed-item top-row-first-filed-item-order-processing"
                style="width: 50%; ">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password">
                <mat-error style="padding: 0px 0px 5px 10px;">
                    Confirm Password must be 8 characters, Lowercase, Uppercase, Numbers, Special characters</mat-error>
            </mat-form-field>
        </div>
        <div class="content-top-row content-top-row-order-processing" style="margin-top: 40px;">
            <div class="example-button-container" style="margin: auto">
                <button mat-flat-button color="accent" [disabled]="!ForgetPasswordForm.valid" (click)="ForgetPassword()"
                 class="btn-accent btn-lg submit-btn" style="width: 100%;margin-top: 0px;" >
                        Reset Password
                    </button>
              </div>
            </div>
    </form>
</div>