/* native scrolbbar */
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: #e0e0e0;
}
::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.3);
  background-color: #dadfe6;
}
* {
  scrollbar-color: light;
  scrollbar-width: thin;
  scrollbar-color: #dadfe6 #f5f5f5;
}

/* global style */
body {
  background: $main-bg;
  background-image: url("data:image/svg+xml,%3Csvg width='328' height='184' viewBox='0 0 328 184' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M93.1678 2.90513C93.1678 2.90517 93.1677 2.9051 93.1678 2.90513L153.842 37.9548C160.544 41.8279 164.679 48.9816 164.673 56.73L163.515 56.7291H164.673V56.73V126.829C164.673 134.576 160.545 141.729 153.842 145.603L93.1678 180.653C86.4648 184.526 78.2082 184.526 71.5052 180.653L10.8312 145.603C4.12844 141.729 0 134.576 0 126.829V56.7291C0 48.9821 4.12827 41.8284 10.8311 37.9549L71.5052 2.90513C78.2081 -0.968378 86.4649 -0.968378 93.1678 2.90513ZM92.0097 4.9115C86.0233 1.45198 78.6497 1.45198 72.6633 4.9115L11.9892 39.9612C11.9891 39.9613 11.9892 39.9612 11.9892 39.9612C6.00262 43.4209 2.31559 49.8099 2.31559 56.7291V126.829C2.31559 133.748 6.00245 140.137 11.989 143.596C11.989 143.596 11.9889 143.596 11.989 143.596L72.6631 178.646C78.6495 182.106 86.0233 182.106 92.0097 178.646L152.684 143.596C158.671 140.137 162.357 133.748 162.357 126.829V56.7282C162.363 49.8103 158.671 43.4212 152.684 39.9612L92.0097 4.9115ZM82.3423 42.8737C55.351 42.8737 33.4661 64.7716 33.4661 91.7789C33.4661 118.786 55.351 140.684 82.3423 140.684C109.334 140.684 131.218 118.786 131.218 91.7789C131.218 64.7716 109.334 42.8737 82.3423 42.8737ZM31.1505 91.7789C31.1505 63.492 54.0721 40.5568 82.3423 40.5568C110.612 40.5568 133.534 63.492 133.534 91.7789C133.534 120.066 110.612 143.001 82.3423 143.001C54.0721 143.001 31.1505 120.066 31.1505 91.7789Z' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M255.571 3.14928C255.571 3.14931 255.571 3.14934 255.571 3.14937L316.245 38.199L316.245 38.1991C322.948 42.0725 327.076 49.2261 327.076 56.9676V127.073C327.076 134.82 322.948 141.974 316.245 145.847L316.245 145.847L255.571 180.897C248.868 184.77 240.612 184.77 233.909 180.897L173.234 145.847L173.234 145.847C166.532 141.974 162.403 134.82 162.403 127.073V56.9733C162.403 49.2263 166.532 42.0726 173.234 38.1991L173.234 38.199L233.909 3.14937C233.909 3.14934 233.909 3.14931 233.909 3.14928C240.612 -0.724238 248.868 -0.724238 255.571 3.14928ZM254.413 5.15574C248.427 1.69622 241.053 1.69622 235.067 5.15574L235.066 5.15584L174.392 40.2055C168.406 43.6651 164.719 50.0541 164.719 56.9733V127.073C164.719 133.992 168.406 140.381 174.392 143.841L235.066 178.89L235.067 178.89C241.053 182.35 248.427 182.35 254.413 178.89L254.413 178.89L315.087 143.841C321.074 140.381 324.761 133.992 324.761 127.073V56.9676C324.761 50.0543 321.074 43.6652 315.087 40.2055L254.413 5.15584L254.413 5.15574ZM244.74 43.1122C217.748 43.1122 195.864 65.01 195.864 92.0173C195.864 119.025 217.748 140.922 244.74 140.922C271.737 140.922 293.616 119.025 293.616 92.0173C293.616 65.01 271.731 43.1122 244.74 43.1122ZM193.548 92.0173C193.548 63.7304 216.47 40.7952 244.74 40.7952C273.01 40.7952 295.932 63.7304 295.932 92.0173C295.932 120.304 273.016 143.239 244.74 143.239C216.47 143.239 193.548 120.304 193.548 92.0173Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.00497872' y1='91.7769' x2='164.676' y2='91.7769' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2310CE9C'/%3E%3Cstop offset='1' stop-color='%230F0FD1'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='162.405' y1='92.0195' x2='327.076' y2='92.0195' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2310CE9C'/%3E%3Cstop offset='1' stop-color='%230F0FD1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: repeat-x;
  background-size: auto;
  background-position: left calc(100% + 100px);
  min-height: 100vh;
  padding-bottom: 90px;
  @include mobile {
    background-size: 150px;
    background-position: left calc(100% + 50px);
  }
}

// main layout
.main-layout {
  display: flex;
  .content-area {
    min-width: 0;
    flex: 1;
    &.logged-in {
      padding: 35px 30px;
      background-image: url("data:image/svg+xml,%3Csvg width='281' height='227' viewBox='0 0 281 227' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.02' fill-rule='evenodd' clip-rule='evenodd' d='M281 223.695V94.346C274.291 95.2094 267.452 95.6544 260.511 95.6544C195.299 95.6544 139.169 56.394 114.03 0H0V47.0213C0 70.7651 12.5403 92.7029 32.9101 104.575L227.601 218.096C243.99 227.648 263.43 229.515 281 223.695Z' fill='%230F0FD1'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right top;
      margin-left: $sidebar-menu-width-open;
      @include transition(0.4);
      @include tablet {
        padding: 35px 30px;
        margin-left: 0;
      }
      &.menu-collapsed {
        margin-left: $sidebar-menu-width-closed;
        padding: 35px 60px;
        @include tablet {
          padding: 35px 30px;
          margin-left: 0;
        }
      }
    }
  }
  .main-navbar-close-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    display: none;
    @include transition(0.4);
    @include tablet {
      display: block;
    }
    &.mob-menu-active {
      opacity: 0.4;
      visibility: visible;
    }
  }
}
