<div id="footer" class="section section--dark menu">
    <div class="container">
        <div class="footer__static">
            <a class="footer__logo" href="https://jcl.my"></a>
            <div class="footer__social">
                <p style="padding-right: 30px;">{{'Footer.footer__social' | translate}}</p>
                <a href="https://www.facebook.com/One-Tranzact-102361742380106?_rdc=1&_rdr" class="fa fa-twitter" style="font-size: 20px;margin-right: 10px;">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://www.instagram.com/accounts/login/?next=/onetranzact/" style="font-size: 20px; margin-right: 10px;">
                    <i class="fab fa-instagram-square"></i>
                </a>
                <a href="https://twitter.com/Onetranzact" style="font-size: 20px; margin-right: 10px;">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="https://www.tiktok.com/@onetranzact" style="font-size: 20px; margin-right: 10px;">
                    <i class="fab fa-tiktok"></i>
                </a>
            </div>
        </div>
        <div class="footer__content">
            <!-- wp:columns -->
            <div class="wp-block-columns has-2-columns">
                <!-- wp:column -->
                <div class="wp-block-column">
                    <!-- wp:heading {"level":3} -->
                    <h3> {{'Footer.wp-block-column_h3' | translate}}</h3>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph {"className":"footer__address"} -->
                    <p class="footer__address">
                        <!-- //Wisma BH Ground &amp; 1st Floor No, 361, Jalan Pudu, 55100 Kuala Lumpur -->
                        {{'Footer.footer__address' | translate}}
                    </p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"className":"footer__phone-no"} -->
                    <p class="footer__phone-no">{{'Footer.footer__phone-no' | translate}}</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"className":"footer__email"} -->
                    <p class="footer__email">&nbsp;</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"className":"footer__licences footer__licences\u002d\u002dheading footer__licences\u002d\u002dfirst-line"} -->
                    <p class="footer__licences footer__licences--heading footer__licences--first-line">
                        <strong>{{'Footer.footer__licences' | translate}}</strong>
                        <br>
                        WL7149/14/01-2/290823
                    </p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"className":"footer__licences"} -->
                    <p class="footer__licences">
                        <strong>{{'Footer.footer__licences_validity' | translate}}</strong>
                        <br>
                        30/08/2021 - 29/08/2023
                    </p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"className":"footer__licences footer__licences\u002d\u002dheading"} -->
                    <p class="footer__licences footer__licences--heading">
                        <strong>{{'Footer.footer__licences_permit' | translate}}</strong>
                        <br>
                        WP7149/14/01-1/290823
                    </p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"className":"footer__licences"} -->
                    <p class="footer__licences">
                        <strong>{{'Footer.footer__licences_permit_validity' | translate}}</strong>
                        <br>
                        30/12/2021 - 29/08/2023
                    </p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->

                <!-- wp:column -->
                <div class="wp-block-column WhatsAppInfo">
                    <!-- wp:heading {"level":3} -->
                    <h3>{{'Footer.WhatsAppInfo_h3' | translate}}</h3>
                    <!-- /wp:heading -->

                    <!-- wp:columns {"className":"footer__contact-nos"} -->
                    <div class="wp-block-columns has-2-columns footer__contact-nos">
                        <!-- wp:column -->
                        <div class="wp-block-column">
                            <!-- wp:paragraph -->
                            <p>
                                <strong>{{'Footer.WhatsAppInfo_Paymentinquiry' | translate}}</strong><br>
                                <a>011-15445799</a>
                            </p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p><strong>{{'Footer.WhatsAppInfo.Email' | translate}}</strong>
                                <br>
                                <a>
                                    inquiry@onetranzact.com.my
                                </a>
                            </p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>&nbsp;</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>&nbsp;</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->

                        <!-- wp:column -->
                        <div class="wp-block-column">
                            <!-- wp:paragraph -->
                            <p>
                                <strong>{{'Footer.WhatsAppInfo.General_inquiry' | translate}}</strong><br>
                                <a>011-15445799</a></p>
                            <!-- /wp:paragraph -->

                            <!-- wp:paragraph -->
                            <p>&nbsp;</p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:column -->
                    </div>
                    <!-- /wp:columns -->

                    <!-- wp:heading {"level":3} -->
                    <h3>{{'Footer.WhatsAppInfo.Operating_hours' | translate}}</h3>
                    <!-- /wp:heading -->

                    <!-- wp:paragraph -->
                    <p> Monday- Friday: 9.00 am - 6.00 pm.</p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph -->
                    <p>&nbsp;</p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="footer__content">
                © 2022 One Tranzact Sdn Bhd (0910058k) </div>

            <!-- <div class="footer__content">
                <a target="_blank" href="https://jcl.my/terms-and-conditions/">J-CLicks Terms and Conditions</a> | <a
                    target="_blank" href="https://jcl.my/end-user-license-agreement-eula/">J-CLicks End User License
                    Agreement</a>
            </div> -->
        </div>
    </div>
</div>

